.main{
  border:1px solid #ccc;
  box-shadow: 10px 10px 10px #ccc;
  padding: 10px;
  height: calc(~'100% - 50px');
  background-color: #fff;
  border-radius: 5px;
}
.product-add{
  .form-group{
    label{
      width: 100px;
      text-align: right;
      padding-right: 10px;
    }
    .form-control{
      width: calc(~'100% - 120px');
      display: inline-block;
    }
  }
}
