
<div class="cms-index">
  <ul class="new-module">
    <li *ngFor="let module of newModule">
      <button class="btn btn-primary" (click)="addModuleBtn(module.key)">{{module.value}}</button>
    </li>
  </ul>
  <section class="cms-item">
    <ol class="breadcrumb fl">
      <li class="active">CMS配置</li>
    </ol>
    <form [formGroup]="user" (ngSubmit)="onSubmit(user)" class="main cb">
      <div class="form-group">
        <label>
          <span>电子邮件地址</span>
          <input type="text" formControlName="email" placeholder="请输入您的 email 地址">
        </label>
        <div *ngIf="user.get('email').hasError('required') && user.get('email').touched" class="error">
          email 是必填项
        </div>
        <div *ngIf="user.get('email').hasError('pattern') && user.get('email').touched" class="error">
          email 格式不正确
        </div>
      </div>
      <div class="form-group">
        <label>
          <span>密码</span>
          <input type="password" formControlName="password" placeholder="请输入您的密码">
        </label>
        <div *ngIf="user.get('password').hasError('required') && user.get('password').touched" class="error">
          密码是必填项
        </div>
      </div>
      <div class="form-group">
        <label>
          <span>确认密码</span>
          <input type="password" formControlName="repeat" placeholder="请再次输入密码">
        </label>
        <div *ngIf="user.get('repeat').hasError('required') && user.get('repeat').touched" class="error">
          确认密码是必填项
        </div>
        <div *ngIf="user.hasError('validateEqual') && user.get('repeat').touched" class="error">
          确认密码和密码不一致
        </div>
      </div>

      <!--<div formGroupName="address">-->
        <!--<label>-->
          <!--<span>省份</span>-->
          <!--<select formControlName="province">-->
            <!--<option value="">请选择省份</option>-->
            <!--<option [value]="province" *ngFor="let province of provinces">{{province}}</option>-->
          <!--</select>-->
        <!--</label>-->
        <!--<label>-->
          <!--<span>城市</span>-->
          <!--<select formControlName="city">-->
            <!--<option value="">请选择城市</option>-->
            <!--<option [value]="city" *ngFor="let city of (cities$ | async)">{{city}}</option>-->
          <!--</select>-->
        <!--</label>-->
        <!--<label>-->
          <!--<span>区县</span>-->
          <!--<select formControlName="area">-->
            <!--<option value="">请选择区县</option>-->
            <!--<option [value]="area" *ngFor="let area of (areas$ | async)">{{area}}</option>-->
          <!--</select>-->
        <!--</label>-->
        <!--<label>-->
          <!--<span>地址</span>-->
          <!--<input type="text" formControlName="addr">-->
        <!--</label>-->
      <!--</div>-->
      <button type="submit" [disabled]="user.invalid">注册</button>
    </form>
  </section>

  <section class="cms-item">
    <ol class="breadcrumb fl">
      <li class="active">CMS配置-首页Banner</li>
    </ol>

    <button class="btn btn-success fr" (click)="add(indexData.indexBanner)">+新增Banner</button>
    <form  novalidate (ngSubmit)="onSubmit(indexBannerForm)" #indexBannerForm="ngForm" class="main cb">
      <ul class="img-form-group">
        <li *ngFor="let indexBanner of indexData.indexBanner let i = index">
          <cms-banner [data]="indexBanner" [index]="i" [form]="indexBannerForm"></cms-banner>
          <!--提交的时候，form.value并没有取到值，而且子组件里面的temp.valid取出来的值是false，但是外面form.valid却是true-->
          <button type="button" class="btn btn-warning" (click)="delete(i, 'indexBanner')">删除</button>
        </li>
      </ul>
      <button type="submit" [disabled]="!indexBannerForm.form.valid" class="btn btn-success">保存</button>
    </form>
  </section>

  <section class="cms-item">
    <ol class="breadcrumb fl">
      <li class="active">CMS配置-首页活动推送</li>
    </ol>
    <form (ngSubmit)="onSubmit(mainActForm)" #mainActForm="ngForm" class="main cb">
      <ul class="img-form-group">
        <li *ngFor="let mainAct of indexData.mainAct let i = index">
          <div class="form-group form-group-img">
            <label>推送图片</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="mainAct.imgUrl" name="imgUrl{{i}}"
                   #tempImg="ngModel">
            <div [hidden]="tempImg.valid || tempImg.pristine"
                 class="alert alert-danger">
              商品图片必填
            </div>
          </div>
          <div class="form-group form-group-url">
            <label>推送链接</label>
            <input type="text" class="form-control" placeholder="商品价格"
                   required [(ngModel)]="mainAct.actUrl" name="actUrl{{i}}"
                   #tempUrl="ngModel">
            <div [hidden]="tempUrl.valid || tempUrl.pristine"
                 class="alert alert-danger">
              商品价格必填
            </div>
          </div>
        </li>
      </ul>
      <button type="submit" [disabled]="!mainActForm.form.valid" class="btn btn-success">提交</button>
    </form>
  </section>

  <div *ngFor="let module of indexData.otherModule let i = index">
    <section class="cms-item" *ngIf="module.type == 'hotAct'">
      <ol class="breadcrumb fl">
        <li class="active">CMS配置-首页当季推送</li>
      </ol>
      <button class="btn btn-success fr" (click)="add(module.products)">+新加商品</button>
      <form (ngSubmit)="onSubmit(mainActForm)" #mainActForm="ngForm" class="main cb">
        <ul class="img-form-group">
          <li>
            <cms-banner [data]="module" [index]="i" [placeholder]="'推送链接'"></cms-banner>

            <ul class="selected-pro-list">
              <li *ngFor="let pro of module.products">
                <div class="form-group">
                  <label>商品链接</label>
                  <input type="text" class="form-control" placeholder="商品链接"
                         required [(ngModel)]="pro.productUrl" name="proUrl{{i}}"
                         #actUrl="ngModel">
                  <div [hidden]="actUrl.valid || actUrl.pristine"
                       class="alert alert-danger">
                    商品链接必填
                  </div>
                  <a class="btn btn-warning" (click)="delete(i, 'indexBanner')">选择商品</a>
                </div>
              </li>
            </ul>

          </li>
        </ul>
        <button type="submit" [disabled]="!mainActForm.form.valid" class="btn btn-success">提交</button>
      </form>
    </section>
  </div>

</div>
