/* You can add global styles to this file, and also import other style files */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  /*font-size: 62.5%;*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
  /*font-size: 62.5%;*/
}
body,h1,h2,h3,h4,h5,p,ul,li{
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

li {
  /*display: inline-block;*/
  /*float: left;*/
}

a {
  color: #555555;
  text-decoration: none;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
@font-face {
  font-family: 'iconfont';  /* project id 46133 */
  src: url('//at.alicdn.com/t/font_46133_4s97vmim4vb.eot');
  src: url('//at.alicdn.com/t/font_46133_4s97vmim4vb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_46133_4s97vmim4vb.woff') format('woff'),
  url('//at.alicdn.com/t/font_46133_4s97vmim4vb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_46133_4s97vmim4vb.svg#iconfont') format('svg');
}
