.recipe-list{
  .table-list{
    width: calc(100% - 40px);
    height: calc(100% - 200px);
    position: absolute;
    overflow: hidden;
    .list-title{
      background: #fff;
    }
    .list-item{
      max-height: calc(100% - 51px);
      overflow-y: auto;
      height: auto;
      position: absolute;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #ddd;
    }
    table{
      text-align: center;
      color: #555;
      margin-bottom: 0;
      table-layout: fixed;
      border: none;
      tr{
        &:hover{
          background-color: aliceblue;
        }
        &:last-child{
          td{
            //border-bottom:none;
          }
        }
        &:first-child{
          td{
            border-top:none;
          }
        }
      }
      th{
        text-align: center;
        height: 40px;
      }
      .sale-btn{
        color: #337ab7;
        cursor: pointer;
      }
    }
  }
  .pagination2{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}

