<div class="product-list" #productListTemplate>
  <ol class="breadcrumb">
    <li class="active">商品列表</li>
    <!--<li><a href="#">Library</a></li>-->
  </ol>
  <ul class="nav nav-pills">
    <li role="presentation" *ngFor="let item of nav.options"
        [class.active]="item.key === nav.current.key"
        (click)="navChange(item)">
      <a href="javascript:">{{item.value}}</a>
    </li>
  </ul>
  <alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </alert>
  <button (click)="myAlert()">alert</button>
  <button (click)="myAlert2()">alert2</button>
  <section class="main content">
    <div class="table-list">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <!--<th>订单编号</th>-->
            <th colspan="2">商品详情</th>
            <th>分类</th>
            <th>价格</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tbody *ngFor="let product of productList">
          <tr>
            <td colspan="2" width="30%">
              <div class="product-detail">
                <img src="" style="height: 50px;width: 50px">
                <span>{{product.productTitle}}</span>
              </div>
            </td>
            <td width="10%">
              <span>{{product.proCategory | productCategory}}</span>
            </td>
            <td width="10%">{{product.productPrice}}</td>
            <td width="10%">
              <a class="sale-btn" (click)="onSale(saleTemplate, product, 1)">上架</a>
              <a class="sale-btn" (click)="onSale(saleTemplate, product, 0)">下架</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 pagination">
      <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage"
                  [maxSize]="maxSize" class="pagination-sm"
                  [boundaryLinks]="true"></pagination>
    </div>
  </section>
</div>


<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<ng-template #saleTemplate>
  <div class="sale-modal modal-body text-center">
    <p>{{saleData.message}}</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
<!--<template #saleTemplate>-->
  <!--<div class="sale-modal">-->
    <!--<div class="modal-header">-->
      <!--<h4 class="modal-title pull-left">-->
        <!--<span *ngIf="saleData.type == 1">上架</span>-->
        <!--<span *ngIf="saleData.type == 0">下架</span>-->
      <!--</h4>-->
      <!--<button type="button" class="close pull-right" aria-label="Close" (click)="saleModalref.hide()">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
      <!--<form (ngSubmit)="onSubmit()" #deliverForm="ngForm">-->
        <!--<p>确定-->
          <!--<span *ngIf="saleData.type == 1">上架</span>-->
          <!--<span *ngIf="saleData.type == 0">下架</span>-->
          <!--该商品？</p>-->
        <!--<button type="submit" class="btn btn-success" [disabled]="!deliverForm.form.valid">submit</button>-->
        <!--<button type="submit" class="btn btn-default" (click)="saleModalref.hide()">cancel</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</template>-->





<!--<nav>-->
  <!--<a routerLink="/trade/tradeDetail" class="navbar">detail</a>-->
  <!--<a routerLink="/trade/tradeList" class="navbar">add</a>-->
<!--</nav>-->
