<div class="product-list" #productListTemplate>
  <ol class="breadcrumb">
    <li class="active">商品列表</li>
    <!--<li><a href="#">Library</a></li>-->
  </ol>
  <ul class="nav nav-pills">
    <li role="presentation" *ngFor="let item of nav.options"
        [class.active]="item.key === nav.current.key"
        (click)="navChange(item)">
      <a href="javascript:">{{item.value}}</a>
    </li>
  </ul>
  <p *Test="condition" author="semlinker">directive</p>
  <alert type="success">
    <strong>Well done!</strong> You successfully read this important alert message.
  </alert>
  <button (click)="myAlert()">alert</button>
  <button (click)="myAlert2()">alert2</button>
  <section class="main content">
    <div class="table-list">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <!--<th>订单编号</th>-->
            <th colspan="2">商品详情</th>
            <th>分类</th>
            <th>价格</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tbody *ngFor="let product of productList">
          <tr>
            <td colspan="2" width="30%">
              <div class="product-detail">
                <img src="" style="height: 50px;width: 50px">
                <span>{{product.productTitle}}</span>
              </div>
            </td>
            <td width="10%">
              <span>{{product.proCategory | productCategory}}</span>
            </td>
            <td width="10%">{{product.productPrice}}</td>
            <td width="10%">
              <a class="sale-btn" (click)="onSale(product, 1)">上架</a>
              <a class="sale-btn" (click)="onSale(product, 0)">下架</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 pagination">
      <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage"
                  [maxSize]="maxSize" class="pagination-sm"
                  [boundaryLinks]="true"></pagination>
    </div>
  </section>
</div>


<!--<nav>-->
  <!--<a routerLink="/trade/tradeDetail" class="navbar">detail</a>-->
  <!--<a routerLink="/trade/tradeList" class="navbar">add</a>-->
<!--</nav>-->
