.cms-banner{
  display: inline-block;
  width: calc(100% - 60px);
  .form-group{
    display: inline-block;
    input{
      width: calc(100% - 180px);
      display: inline-block;
      height: 40px;
    }
    label{
      width: 90px;
      text-align: right;
      padding-right: 10px;
      font-weight: 400;
    }
  }
  .form-group-img{
    input{
      height: 80px;
      width: 140px;
    }
  }
  .form-group-url{
    width: calc(100% - 260px);
    input{
      width: calc(100% - 100px);
    }
  }
}



